@CHARSET "UTF-8";

body {
	position: absolute;
	left: 0%;
	width: 100%;
	top: 0%;
	height: 100%;	
}

#user {
	position: absolute;
	left: 0%;
	width: 33%;
	top: 0%;
	height: 100%;
	text-align: center;
	border: solid 1px black;
}

#room {
	position: absolute;
	left: 33%;
	width: 33%;
	top: 0%;
	height: 100%;
	text-align: center;
	border: solid 1px black;
}

#link {
	position: absolute;
	left: 66%;
	width: 33%;
	top: 0%;
	height: 100%;
	text-align: center;
	border: solid 1px black;
}