@CHARSET "UTF-8";

html,body {
	min-width: 100% !important;
	max-width: 100% !important;
	min-height: 100% !important;
	max-height: 100% !important;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 12pt;
	background: #777;
}

#msgBoard,#blackBoard1 {
	background: #000;
}

#send,#choose_file,#subm,#open_settings {
	background: #fff;
	color: #000;
	border-style: solid;
	border: solid 2px black;
	cursor: pointer;
}

#my_file {
	display:none;
}

#msgBoard {
	position: absolute;
	left: 0%;
	width: 30%;
	top: 0%;
	height: 100%;
	border: solid 1px black;
}

#msg {
	position: absolute;
	left: 0%;
	width: 98%;
	top: 0%;
	height: 15%;
	border: solid 1px black;
	overflow-y: scroll;
}

#send {
	position: absolute;
	left: 5%;
	width: 20%;
	top: 16%;
	height: 4%;
}

#choose_file {
	position: absolute;
	left: 30%;
	width: 25%;
	top: 16%;
	height: 4%;
}

#filename {
	position: absolute;
	left: 60%;
	width: 35%;
	top: 16%;
	height: 4%;
	background: #000;
	color: #fff;
	border-style: none;
}

#my_file {
	position: absolute;
	left: 35%;
	width: 60%;
	top: 16%;
	height: 4%;
}

#msgList {
	position: absolute;
	left: 0%;
	width: 100%;
	top: 20%;
	height: 80%;
	border: solid 1px black;
	overflow-y: scroll;
	background: #fff;
}

#blackBoard1 {
	position: absolute;
	left: 30%;
	width: 35%;
	top: 0%;
	height: 40%;
	border: solid 1px black;
	overflow-y: hidden;
	overflow-x: hidden;
}

#img1 {
	position: absolute;
	left: 30%;
	width: 35%;
	top: 40%;
	height: 60%;
	border: solid 1px black;
	overflow-y: scroll;
}

#blackBoard2 {
	position: absolute;
	left: 65%;
	width: 35%;
	top: 0%;
	height: 40%;
	border: solid 1px black;
	overflow-y: scroll;
	background: #fff;
}

#img2 {
	position: absolute;
	left: 65%;
	width: 35%;
	top: 40%;
	height: 60%;
	border: solid 1px black;
	overflow-y: scroll;
}

#blackBoard2 p {
	padding: 7px;
}

#img1,#img2 {
	background: #000;
	color: #fff;
}

#img1 p, #img2 p {
	font-size: 15pt;
}

#show {
	position: absolute;
	left: 10%;
	width: 35%;
	top: 0%;
	height: 8%;
	display: none;
}

#subm {
	position: absolute;
	left: 10%;
	width: 35%;
	top: 0%;
	height: 9%;
}

#open_settings {
	position: absolute;
	left: 55%;
	width: 35%;
	top: 0%;
	height: 9%;
}

#myBoard {
	position: absolute;
	left: 0%;
	width: 98%;
	top: 9%;
	height: 91%;
	border: solid 1px black;
}

.msgImg {
	position: relative;
	left: 5%;
	width: 90%;
}

#settings {
	position: absolute;
	left: 25%;
	width: 50%;
	top: 10%;
	height: 80%;
	background: #aaaaaa; /*browsers*/
	 /* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	/* IE 5-7 */
  	filter: alpha(opacity=100);
	  /* Netscape */
  	-moz-opacity: 1.0;
	  /* Safari 1.x */
  	-khtml-opacity: 1.0;
	  /* Good browsers */
  	opacity: 1.0;
  	z-index: 10;
  	border: solid 3px black;
  	display: none;
}

#save {
	position: absolute;
	left: 10%;
	width: 20%;
	top: 90%;
	height: 5%;
}

#reset {
	position: absolute;
	left: 40%;
	width: 20%;
	top: 90%;
	height: 5%;
}

#cancel {
	position: absolute;
	left: 70%;
	width: 20%;
	top: 90%;
	height: 5%;
}

#settings p {
	text-align: center;
}