/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#main_pane {
	-fx-pref-width: 450.0;
	-fx-pref-height: 640.0;
}

#my_list {
	-fx-pref-width:450.0;
	-fx-pref-height:540.0;
}

#menu_pane_top {
	-fx-pref-width:450.0;
	-fx-pref-height:30.0;
}

#progress_bar {
	-fx-pref-width:450.0;
	-fx-pref-height:10.0;
	-fx-accent:black;
}

#button_pane_bottom {
	-fx-pref-width:450.0;
	-fx-pref-height:60.0;
}

.my_button_bottom {
	-fx-pref-width:60.0;
	-fx-pref-height:60.0;
	-fx-background-color:#fff;
	-fx-border-width:0.0;
	-fx-border-radius:0.0;
	-fx-border-color:#000;
}

#button_toogle,#button_rev,#button_fwd {
	-fx-background-color:#ccc;
}

#button_wifi,#button_up,#button_down {
	-fx-background-color:#eee;
}

#vol_label {
	-fx-pref-width:90.0;
	-fx-pref-height:60.0;
	-fx-font-size:25.0;
	-fx-alignment:center;
	-fx-background-color:#eee;
	-fx-border-width:0.0;
	-fx-border-radius:0.0;
	-fx-border-color:#000;
}